body{
    font-family: 'Times New Roman', Times, serif;
    width: 100vh;
    height: 100vh;
}
footer{
    width: 100%;
    text-align: center;
    border: 1px black solid;
}
h5{
    font-size: 25px;
}
ul{
    font-size: 25px;
    font-style:italic;
}
li{
    list-style: none;
}
a{
    font-style: italic;
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
a:hover{
    color: red;
}
p{
    font-size: 20px;
}
button.troca_direita{
    position: absolute;
    height: 7vh;
    width: 7vh;
    left: 100vh;
    top:  5vh;
    background: ;
    border: ;
}
button.troca_esquerda{
    position: absolute;
    height: 7vh;
    width: 7vh;
    left: -5vh;
    top: -25px;
    background: ;
    border: ;
}
img{
    height: 100px;
    width: 100px;
}
article{
    position: relative;
    left: 25%;
}
